[Unit]
Description=Danny's quotes (Node.js)
After=mariadb.service

[Service]
Type=simple
User=danny
WorkingDirectory=<dir>
ExecStart=/usr/bin/node <app.js path>
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
